<div class="content-wrapper">
  <h2 ng-show="editModel._id">{{editModel.name}}</h2>
  <h2 ng-hide="editModel._id">New Link</h2>

  <form role="form" name="form" class="css-form" novalidate>
    <div class="form-group">
      <label for="editName">Name</label>
      <input id="editName" class="form-control" type="text" ng-model="editModel.name" required maxlength="50" />
    </div>
    <div class="form-group">
      <label for="editCategory">Category</label>
      <input id="editCategory" class="form-control" type="text" ng-model="editModel.category" required maxlength="50" />
    </div>
    <div class="form-group">
      <label for="editURL">URL</label>
      <input id="editURL" class="form-control" type="url" ng-model="editModel.url" required maxlength="200"/>
    </div>
    <div class="form-group">
      <label for="editImageURL">Image URL</label>
      <input id="editImageURL" class="form-control" type="url" ng-model="editModel.imageUrl" maxlength="200" />
    </div>
    <div class="form-group">
      <label for="editDescription">Description (<a target="_" href="http://en.wikipedia.org/wiki/Markdown">Markdown</a>) {{700 - editModel.descriptionMd.length}} characters remaining</label>
      <textarea rows="6" id="editDescription" class="form-control" type="text" ng-model="editModel.descriptionMd" required maxlength="700" />
    </div>
  </form>
  <button ng-show="editModel._id" type="button" class="btn btn-danger" ng-click="deleteLink()">Delete</button>
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-success" ng-click="submitEditLink()" ng-disabled="form.$invalid || isUnchanged(editModel)">Submit</button>
    <a class="btn btn-default" href="/links">Cancel</a>
  </div>
  <span class="clearfix"></span>
</div>
