<div class="content-wrapper">
  <div class="btn-group pull-right">
    <a class="btn btn-default" href="/feeds/edit"><i class="icon-plus-sign"></i> Add</a>
  </div>
  <h2>Feeds</h2>
  <p>These feeds supply DestinyHub with live content. If you're interested in integrating your Twitter, YouTube channel, Facebook page, blog, articles, or anything else, <a href="/about">let us know!</a></p>

  <div class="row">
    <div class="col-md-4" ng-repeat="feed in feeds">
      <div class="panel panel-default hover-parent">
        <div class="panel-body">
          <div class="media">
            <a ng-if="feed.imageUrl" class="pull-left" href="/feeds/{{feed.slug}}/posts"><img class="media-object" src="{{feed.imageUrl}}"></a>
            <div class="media-body">
              <a class="pull-right btn btn-default btn-xs hover-child" href="/feeds/edit/{{feed._id}}"><i class="icon-edit"></i> Edit</a>
              <h4 class="media-heading">{{feed.name}}</h4>
              <a ng-if="feed.url" href="{{feed.url}}">Visit <i class="icon-external-link"></i></a>
            </div>
          </div>
        </div>
        <div ng-if="feed.description" class="panel-footer">
          <div ng-bind-html="feed.description" class="break-word"></div>
        </div>
      </div>
    </div>
  </div>
</div>