body {
  padding: 0px;
  margin: 0px;
  padding-top: 50px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11pt;
  background: #0c3039 url('http://i.imgur.com/zndlQ5e.jpg') no-repeat center top;
  background-size: cover;
}

/*
body:before {
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -2;
  background: #0c3039 url('http://i.imgur.com/zndlQ5e.jpg') no-repeat center top;
  background-size: cover;
}
body:after {
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  background:transparent;
  background: linear-gradient(top, rgba(12, 48, 57, 0) 0%, #0c3039 100% );
  background: -moz-linear-gradient(top, rgba(12, 48, 57, 0) 0%, #0c3039 100% );
  background: -ms-linear-gradient(top, rgba(12, 48, 57, 0) 0%, #0c3039 100% );
  background: -o-linear-gradient( top, rgba(12, 48, 57, 0) 0%, #0c3039 100% );
  background: -webkit-linear-gradient( top, rgba(12, 48, 57, 0) 0%, #0c3039 100% );
}
*/

a {
  text-decoration: none;
  color: #be364d;
}

a:hover {
  text-decoration: underline;
  color: #be364d;
}

ul.no-bullets, ul.no-bullets > li {
  padding-left: 4px;
  list-style-type: none;
}

a#destinyhub-navbar-logo {
  background: url('../img/destinyhub/destinyhub_icon_small.png') no-repeat left center;
  font-weight: bold;
  color: #ffffff;
  margin-left: 8px;
  padding-left: 50px;
}

.dropdown-menu > li > a:hover {
  background-color: #be364d;
}

ul.navbar-nav a.active {
  color: #ffffff;
}

.content-wrapper {
  padding: 8px;
  border-radius: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.8);
}

img.media-object { max-width: 64px; max-height:64px; }

.css-form .ng-invalid {
  background-color: #ffd6d6;
}

.css-form .ng-valid {
  background-color: #d6ffd6;
}