body {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11pt;
  background: #0c3039;
}

a {
  text-decoration: none;
  color: #be364d;
}

a:hover {
  text-decoration: underline;
  color: #be364d;
}

ul.no-bullets, ul.no-bullets > li {
  padding-left: 4px;
  list-style-type: none;
}

a#destinyhub-navbar-logo {
  background: url('../img/destinyhub/destinyhub_icon_small.png') no-repeat left center;
  font-weight: bold;
  color: #ffffff;
  margin-left: 8px;
  padding-left: 50px;
}

.dropdown-menu > li > a:hover {
  background-color: #be364d;
}

ul.navbar-nav a.active {
  color: #ffffff;
}

/* override bootstrap */
.navbar-collapse {
  max-height: none;
}

.navbar-form > * {
  display: inline-block;
}

.navbar-form > .form-control {
  width: auto;
}

.content-wrapper {
  padding: 8px;
  border-radius: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.8);
}

img.media-object { max-width: 64px; max-height:64px; }

.css-form .ng-invalid {
  background-color: #ffd6d6;
}

.css-form .ng-valid {
  background-color: #d6ffd6;
}

.hover-child {
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .hover-child {
    visibility: visible;
  }
}

.hover-parent:hover .hover-child {
  visibility: visible;
}

.break-word {
  word-wrap: break-word;
}

.hover-pointer:hover {
  cursor: pointer;
}